
.container-about {

padding: 20px;
background-color: rgb(130, 127, 127);
}

.img-d {
    height: 600px;
    width: 100%;
    margin: 10px;
    border-radius: 50px;
  }
  .img-v {
    height: 300px;
    width: 100%;
    margin: 10px;
    border-radius: 50px;
  }