*{
  margin: 0px;
  padding: 2px;
  font-family: sans-serif;
  
}

.carousel-item {
  padding: 0px;
  max-height:385px;
  object-fit: cover;
   }
  
   .carousel-item img {
    object-fit: cover;
  } 

.icon-bar{
  position: fixed;
  right: 0;
  top: 60%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
}
.icon-bar a {
  display: block;
  border: 2px solid black;
  box-sizing: border-box;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: rgb(236, 10, 10);
  font-size: 15px;
}

.icon-bar a:hover {
  background-color: #c4bfbf;
}

 /* Scheme Section */
.scheme{
  position: relative;
  background-color: rgb(147, 157, 171);
  margin: 0px;
  padding: 10px;
  display: inline-block;
}
.short{
 background-color: beige;
 align-items: center;
 justify-content: space-around;
 align-content: center;
 border-radius: 30px;
 margin: 10px;
 padding: 10px;
 font-size: 25px;
 object-fit: cover;
 text-align: center;
}

.responsive-img{
  display:block;
  padding: 20px;
  width: 100%;
 
}
.direct{
  display: flex;
}

.gallery-img{
  width: 100%;
  display: inline-flex; 
}
.cover{
  width: 100%;
  padding: 20px;
  border-radius: 40px;
}

#memes{
  position: relative;
  background-color: rgb(149, 147, 161);
  display: block;
  margin: 0px;
  padding: 10px;
}
.MMSME{
  margin: 10px;
  padding: 10px;
  font-size: 25px;
  justify-content: center;
  align-content: center;
  background-color: aqua;
  text-align: center;
 border-radius: 30px;
}

.msme{
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
}


.house{
  position: relative;
  background-color: rgb(109, 161, 127);
  padding:10px;
}
.person{
  margin: 10px;
  padding: 10px;
  font-size: 25px;
  justify-content: center;
  align-content: center;
  background-color: aqua;
  text-align: center;
 border-radius: 30px;
}
.houses{
  margin: 10px;
  padding: 10px;
}

.engineer{
  position: relative;
  margin: 0px;
  padding: 10px;
  background-color: rgb(179, 208, 189);
}
.offer{
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  background-color: aquamarine;
  border-radius: 30px;
}

.experience{
  position: relative;
  margin: 0px;
  padding: 10px;
  justify-content: center;
 
}
.job{
  margin: 10px;
  padding: 10px;
  font-size: 25px;
  background-color: bisque;
  text-align: center;
  border-radius: 60px;
}
.item{
  display: flex;
  justify-content: center;
}


@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
.icon-bar {
  display: none;
}
  .scheme{
    background-color: aqua;
    margin: 0px;
  
  }
  .short{
   
  
   margin: 0px;
   padding: 0px;
   font-size: 10px;
   
  }
  .responsive-img{
    padding: 0px;
    width: 100%;
    margin: 0px;
  }
  .direct{
    display: block;
  }
  
  .gallery-img{
    width: 100%;
    display: inline-block; 
  }
  .cover{
    width: 100%;
    padding: 5px;
    border-radius: 20px;
  }
  .MMSME{
    margin: 0px;
    padding: 0px;
    font-size: 10px;
  }
  .msme{
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 10px;
  }
  
  
 
  .person{
    margin-top: 10px;
    padding: 10px;
    font-size: 10px;
  }
  .houses{
    margin: 0px;
    padding: 10px;
  }
  
  .offer{
    margin: 10px;
    padding: 5px;
    font-size: 15px;
    text-align: center;
    background-color: aquamarine;
    border-radius: 30px;
  }
  
  .job{
    margin: 0px;
    padding: 10px;
    font-size: 10px;
    background-color: bisque;
    text-align: center;
    border-radius: 60px;
  }
  
}

