#root {
  max-width: 1480px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (max-width: 480px){
  #root {
      font-size: small;
      font-family: 'Times New Roman', Times, serif;
      font-weight: 200;

  }
}